@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html body {
  background-image: linear-gradient(to bottom, #f9f9f9 2%, #f9f9f9 20%, #f9f9f9 80%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
html body header .header-section {
  background: #ececec;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
}
html body header .header-section .topbar-logo {
  flex: 85%;
  margin-left: 10px;
  align-self: center;
  justify-self: center;
  -webkit-app-region: drag;
}
html body header .header-section .topbar-logo .logo-compartment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
html body header .header-section .topbar-logo .logo-compartment .logo {
  width: 10px;
  height: 9px;
  background: #02380a;
  margin-right: 5px;
  border-radius: 50%;
}
html body header .header-section .topbar-logo .logo-compartment .logo-caption {
  font-size: 13px;
  font-weight: 200;
}
html body header .header-section .topbar-icons {
  flex: 15%;
  align-self: center;
}
html body header .header-section .topbar-icons .icon-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}
html body header .header-section .topbar-icons .icon-flex .icon-flex-minimize {
  z-index: 99;
}
html body header .header-section .topbar-icons .icon-flex .icon-flex-minimize:hover {
  background: rgba(201, 201, 201, 0.3921568627);
}
html body header .header-section .topbar-icons .icon-flex .icon-flex-minimize span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 3px 14px;
  margin: auto;
  font-size: 20px;
  font-weight: 300;
  transition: 0.3s ease-in-out;
}
html body header .header-section .topbar-icons .icon-flex .icon-flex-resize span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 5px 14px;
  font-size: 15px;
  font-weight: 300;
  margin: auto;
  transition: 0.3s ease-in-out;
}
html body header .header-section .topbar-icons .icon-flex .icon-flex-resize:hover {
  background: rgba(201, 201, 201, 0.3921568627);
}
html body header .header-section .topbar-icons .icon-flex .icon-flex-close span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 2px 14px;
  font-size: 20px;
  font-weight: 300;
}
html body header .header-section .topbar-icons .icon-flex .icon-flex-close:hover {
  background: #bb0202;
}
html body header .header-section .topbar-icons .icon-flex .icon-flex-close:hover span {
  color: #ededed;
}
.components {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
}

.main-header {
  text-align: center;
  height: 50%;
  margin: 1em;
}
.main-header h1 {
  font-size: 2.7em;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.main-header h1 a {
  color: rgba(121, 120, 120, 0.864);
  cursor: pointer;
  text-decoration: none;
}

.main-hero .difficulty-selection ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  padding: 0;
}
.main-hero .difficulty-selection ul li {
  list-style: none;
  text-decoration: none;
  color: rgba(193, 199, 152, 0.859);
  padding: 0.25em 1.5em;
  margin: 0 1.3em;
  border: 3px solid rgba(193, 199, 152, 0.859);
  border-radius: 2em;
  font-size: 1.2em;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main-hero .difficulty-selection ul li:hover {
  background: rgba(193, 199, 152, 0.859);
  color: #222222;
}
.main-hero .difficulty-selection ul li:active {
  transform: translateY(2px);
}
.main-hero .difficulty-selection ul li a {
  text-decoration: none;
  color: inherit;
}
.main-hero .difficulty-selection ul .active {
  background: rgba(193, 199, 152, 0.859);
  color: #222222;
}
.main-hero .hero-section {
  height: 5.6em;
  background: rgba(193, 199, 152, 0.859);
  border: 3px solid rgba(221, 192, 209, 0.7450980392);
  border-radius: 1em;
  margin: 0 2px 10px 2px;
}
.main-hero .hero-section .intro-paragraph {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.main-hero .hero-section .intro-paragraph p {
  padding: 0.4em;
  font-size: 1.1em;
  font-weight: 700;
  color: #373232;
}
.main-hero .hero-section .intro-paragraph p a {
  text-decoration: underline;
  color: #373232;
}
.main-hero .hero-section .intro-paragraph p a:hover {
  color: rgba(82, 10, 148, 0.788);
}

.display-panel {
  margin-left: 14em;
  margin-bottom: 3em;
  overflow: auto;
  background: rgba(193, 199, 152, 0.859);
  box-shadow: 1px 2px 28px rgba(113, 116, 97, 0.8588235294) inset;
  border-radius: 1em;
  border: 3px solid rgba(221, 192, 209, 0.7450980392);
}
.display-panel .question-view .panel-title {
  text-align: center;
}
.display-panel .question-view .panel-title h3 {
  font-size: 1.2em;
  font-weight: bolder;
  padding: 0.1em 1em 0.5em 1em;
}
.display-panel .question-view ul {
  margin: 0;
  padding: 0 0.5em;
}
.display-panel .question-view ul li {
  list-style: none;
}
.display-panel .question-view ul li .question-group {
  border-top: 1px dotted #000000;
  border-bottom: 1px dotted #000000;
  width: 100%;
}
.display-panel .question-view ul li .question-group p.question {
  background: #bebaba;
  border: 2px solid rgba(221, 192, 209, 0.7450980392);
  border-radius: 2em;
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  padding: 1.3em;
}
.display-panel .question-view ul li .question-group p.answer {
  text-align: right;
  padding-right: 0.5em;
  font-size: 0.7em;
  font-weight: 600;
  font-style: italic;
}

.handle {
  float: left;
  width: 0.5em;
  height: calc(100% - 50px);
  background: #13000b;
  cursor: ew-resize;
}

.side-panel {
  float: left;
  width: 12em;
  padding: 0.5em;
  background: rgba(193, 199, 152, 0.859);
  overflow: auto;
  box-shadow: 1px 2px 28px rgba(113, 116, 97, 0.8588235294) inset;
  border-radius: 1em;
  border: 3px solid rgba(221, 192, 209, 0.7450980392);
}
.side-panel .category-view .panel-title {
  overflow-wrap: break-word;
}
.side-panel .category-view .panel-title h3 {
  font-size: 1.4em;
  font-weight: bolder;
  padding: 0.1em 0.2em 0.5em 0.2em;
  text-align: center;
}
.side-panel .category-view ul {
  padding: 0.2em 0 2em 0;
}
.side-panel .category-view ul .options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-panel .category-view ul .options .options-box-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.side-panel .category-view ul .options .options-box-header li {
  list-style: none;
  padding: 1.2em 0 1.2em 1.2em;
  transition: 0.3s ease-in-out;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
.side-panel .category-view ul .options .options-box-header .arrhead {
  transition: 0.3s ease-in-out;
  margin-right: 1em;
}
.side-panel .category-view ul .options .options-box-header .arrhead.active {
  transform: rotate(180deg);
}
.side-panel .category-view ul .options .options-box-header .arrhead.active .options {
  height: 2em;
}
.side-panel .category-view ul .options .option-box-compartment {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.side-panel .category-view ul .options .option-box-compartment .icons {
  padding: 0 1em;
}
.side-panel .category-view ul .options .option-box-compartment.active {
  display: flex;
  max-height: 6em;
}
.side-panel a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #1e0303;
  transition: 1s ease-in-out;
}
.side-panel a:hover {
  text-decoration: underline;
}

.left-side-panel {
  height: 100%;
  -webkit-user-select: none;
}
.left-side-panel .panel {
  float: left;
  width: 15em;
  height: 95vh;
  background: rgba(224, 244, 223, 0.5294117647);
}
.left-side-panel .panel .basic-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  width: 100%;
  background: #013112;
}
.left-side-panel .panel .basic-profile .user-name p {
  padding: 0 0.7em;
  font-size: 1.3em;
  font-weight: 600;
  color: #eaeaea;
}
.left-side-panel .panel .basic-profile .user-picture {
  padding: 0 1em;
  margin-right: 2em;
  border: 3px solid rgba(255, 255, 255, 0.27) 70000000;
  border-radius: 50%;
  width: 17px;
  height: 47px;
  background: #fff;
}
.left-side-panel .panel .continue-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 1em auto;
}
.left-side-panel .panel .continue-class .continue-button {
  height: 35px;
  width: 14em;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 5px;
  background: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #001f00;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.left-side-panel .panel .continue-class .continue-button p {
  font-size: 15px;
  font-weight: 600;
  color: #001f00;
}
.left-side-panel .panel .continue-class .continue-button span {
  margin-left: 3px;
  color: #001f00;
  font-size: 23px;
}
.left-side-panel .panel .continue-class .continue-button:hover {
  background: #fff;
}
.left-side-panel .panel .profile-options {
  margin: 4em auto 0 auto;
  transition: 0.3s ease-in-out;
}
.left-side-panel .panel .profile-options .profile-option .option {
  margin: 5px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: center;
  cursor: pointer;
}
.left-side-panel .panel .profile-options .profile-option p {
  color: #001f00;
  font-size: 17px;
  font-weight: 600;
  padding-left: 10px;
}
.left-side-panel .panel .profile-options .profile-option span.data_info_alert {
  padding: 15px 10px;
  font-size: 23px;
}
.left-side-panel .panel .profile-options .profile-option span.person {
  padding: 15px 10px;
  font-size: 23px;
}
.left-side-panel .panel .profile-options .profile-option span.settings {
  padding: 15px 10px;
  font-size: 19px;
}
.left-side-panel .panel .profile-options .profile-option span.info {
  padding: 15px 10px;
  font-size: 21px;
}
.left-side-panel .panel .profile-options .profile-option span.logout {
  padding: 16px 10px;
  font-size: 19px;
}
.left-side-panel .panel .profile-options .profile-option:hover {
  background: rgba(17, 84, 37, 0.2588235294);
}

.quiz-view {
  height: 4em;
  background: rgba(193, 199, 152, 0.859);
  border: 3px solid rgba(221, 192, 209, 0.7450980392);
  border-radius: 1em;
  margin: 0 2px 10px 2px;
}
.quiz-view .quiz-hero .title-block h2 {
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
  padding: 0.1em 1em 0.5em 1em;
}
.quiz-view .return-button {
  margin: 1.2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz-view .return-button a {
  background: none;
  border-radius: 1.5em;
  border: 3px solid rgba(227, 230, 208, 0.951);
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
  width: 3.5em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(193, 199, 152, 0.859);
}
.quiz-view .return-button a:hover {
  border: 3px solid rgba(193, 199, 152, 0.859);
  background: rgba(193, 199, 152, 0.859);
  color: #240116;
}
.quiz-view .game-buttons {
  margin: 1.2em auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}
.quiz-view .game-buttons button {
  background: none;
  border-radius: 1.5em;
  border: 3px solid rgba(227, 230, 208, 0.951);
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 1.5em;
  padding: 0.5em 2em;
  text-align: center;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(193, 199, 152, 0.859);
}
.quiz-view .game-buttons button:hover {
  border: 3px solid rgba(193, 199, 152, 0.859);
  background: rgba(193, 199, 152, 0.859);
  color: #240116;
}
.quiz-view .game-buttons a {
  background: none;
  border-radius: 1.5em;
  border: 3px solid rgba(227, 230, 208, 0.951);
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
  width: 9.5em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(193, 199, 152, 0.859);
}
.quiz-view .game-buttons a:hover {
  border: 3px solid rgba(193, 199, 152, 0.859);
  background: rgba(193, 199, 152, 0.859);
  color: #240116;
}
.quiz-view .quiz-box {
  padding: 1em 0;
}
.quiz-view .quiz-box .quiz-area {
  background: rgba(193, 199, 152, 0.859);
  box-shadow: 1px 2px 28px rgba(113, 116, 97, 0.8588235294) inset;
  border-radius: 1em;
  border: 3px solid rgba(221, 192, 209, 0.7450980392);
  height: 27em;
}
.quiz-view .quiz-box .quiz-area .start-page {
  text-align: center;
}
.quiz-view .quiz-box .quiz-area .start-page h2 {
  padding: 2.2em 2em;
  font-size: 1.2em;
}
.quiz-view .quiz-box .quiz-area .start-page select {
  margin: 1.2em 2em 6em 2em;
  border-radius: 1em;
  width: 9em;
  height: 2.5em;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.quiz-view .quiz-box .quiz-area .start-page select * {
  background: rgba(193, 199, 152, 0.859);
  font-size: 1.2em;
  padding: 1em auto;
  text-align: center;
  border-bottom: 3px solid #240116;
}
.quiz-view .quiz-box .quiz-area .start-page button {
  background: none;
  border-radius: 1.5em;
  border: 3px solid rgba(227, 230, 208, 0.951);
  font-size: 1.4em;
  font-weight: 500;
  padding: 0.5em;
  text-align: center;
  width: 6.5em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: #000000;
  display: block;
  margin: 2em auto;
  box-shadow: 1px 2px 18px rgba(48, 48, 48, 0.2392156863);
}
.quiz-view .quiz-box .quiz-area .start-page button:hover {
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.5960784314);
  transform: translateY(-2px);
}
.quiz-view .quiz-box .quiz-area .question-page {
  padding: 2em;
}
.quiz-view .quiz-box .quiz-area .question-page .question-area {
  background: #cccbc7;
  color: #373535;
  padding: 1em 2em;
  margin: 1em auto;
  width: 80%;
  border: 1px dotted #181818;
  border-radius: 1em;
  height: 7.7em;
}
.quiz-view .quiz-box .quiz-area .question-page .answer-area {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1.6em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 2em;
}
.quiz-view .quiz-box .quiz-area .question-page .answer-area button {
  background: none;
  padding-top: 1em;
  border-radius: 1.5em;
  border: 3px solid rgba(227, 230, 208, 0.951);
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  text-align: center;
  height: 3.4em;
  width: 10.5em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: #000000;
  display: block;
  margin: 0.5em auto;
  box-shadow: 1px 2px 18px rgba(48, 48, 48, 0.2392156863);
}
.quiz-view .quiz-box .quiz-area .question-page .answer-area button:hover {
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.5960784314);
  transform: translateY(-2px);
}
.quiz-view .quiz-box .quiz-area .question-page .answer-area button:active {
  transform: translateY(1px);
}
.quiz-view .quiz-box .quiz-area .question-page .answer-area .wrong {
  background: #ed6b6b;
}
.quiz-view .quiz-box .quiz-area .question-page .answer-area .correct {
  background: #84ed88;
}
.quiz-view .quiz-box .quiz-area .result-page {
  padding: 3em;
  text-align: center;
  width: 80%;
  margin: auto;
}
.quiz-view .quiz-box .quiz-area .result-page h2 {
  margin: 2em 0;
}
.quiz-view .quiz-box .quiz-area .result-page h3 {
  margin: 0.5em 0;
}

.auth-component {
  height: 100vh;
  overflow: scroll;
}
.auth-component .auth-section {
  margin: auto;
}

.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6em 0;
  height: 100%;
}
.authentication .alert {
  background: rgb(224, 0, 0);
  color: bisque;
  padding: 0.5em;
  height: 1.5em;
  width: 12em;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1em auto;
  text-align: center;
}
.authentication .section-login {
  max-height: 50%;
}
.authentication .section-login form div {
  margin-top: 1.2em;
}
.authentication .section-login form div label {
  display: block;
  padding: 0.5em 0;
  color: rgba(2, 29, 1, 0.859);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.authentication .section-login form div input {
  width: 15em;
  border-radius: 0.8em;
  border: 2px solid rgba(2, 29, 1, 0.641);
  background: none;
  padding-top: 1em;
  font-size: 1em;
  font-weight: 700;
  padding: 0.8em;
  height: 1.8em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(2, 29, 1, 0.859);
  display: block;
  margin: 0.5em auto;
  box-shadow: 1px 2px 4px rgba(2, 29, 1, 0.213);
}
.authentication .section-login form div input:active {
  border: 2px solid rgba(2, 29, 1, 0.641);
  background: none;
}
.authentication .section-login form div.submit {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.authentication .section-login form div.submit button {
  width: 50%;
  border-radius: 2em;
  border: 3px solid rgb(2, 29, 1);
  padding-top: 1em;
  font-size: 1em;
  font-weight: 700;
  padding: 0.5em;
  text-align: center;
  height: 3.4em;
  width: 8.5em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: block;
  margin: 0.5em auto;
  background: rgb(2, 29, 1);
  color: #ededed;
}
.authentication .section-login form div.submit button:hover {
  width: 11em;
  background: rgb(2, 29, 1);
  color: #ededed;
}
.authentication .section-sign-up {
  max-height: 50%;
}
.authentication .section-sign-up form div {
  margin-top: 1.2em;
}
.authentication .section-sign-up form div label {
  display: block;
  padding: 0.5em 0;
  color: rgba(2, 29, 1, 0.859);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.authentication .section-sign-up form div input {
  width: 15em;
  border-radius: 0.8em;
  border: 2px solid rgba(2, 29, 1, 0.641);
  background: none;
  padding-top: 1em;
  font-size: 1em;
  font-weight: 700;
  padding: 0.8em;
  height: 1.8em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(2, 29, 1, 0.859);
  display: block;
  margin: 0.5em auto;
  box-shadow: 1px 2px 4px rgba(2, 29, 1, 0.213);
}
.authentication .section-sign-up form div input:active {
  border-color: none;
  border: 3px solid rgba(227, 230, 208, 0.951);
  background: none;
}
.authentication .section-sign-up form div.submit {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.authentication .section-sign-up form div.submit button {
  width: 50%;
  border-radius: 2em;
  border: 3px solid rgb(2, 29, 1);
  padding-top: 1em;
  font-size: 1em;
  font-weight: 700;
  padding: 0.5em;
  text-align: center;
  height: 3.4em;
  width: 8.5em;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: block;
  margin: 0.5em auto;
  background: rgb(2, 29, 1);
  color: #ededed;
}
.authentication .section-sign-up form div.submit button:hover {
  width: 11em;
}
.authentication .foot-note p {
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  color: rgb(2, 29, 1);
  letter-spacing: 1px;
  padding: 0.4em;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.authentication .foot-note p:hover {
  text-decoration: underline;
}

.display-home-view {
  height: 70%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.display-home-view .landing-page-section {
  margin: auto;
}
.display-home-view .landing-page-section h1 {
  color: bisque;
  font-size: 3em;
  font-weight: 1000;
  margin: 1em 0;
  text-align: center;
}
.display-home-view .landing-page-section p {
  text-align: center;
  color: bisque;
  font-size: 0.8em;
  font-weight: 300;
  margin: 1.8em 0;
}

.display-difficulty-selector h2 {
  text-align: center;
  color: bisque;
  margin: 1em;
  font-size: 1.7em;
  font-weight: 700;
}
.display-difficulty-selector .difficulty-selector {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.display-difficulty-selector .difficulty-selector div {
  width: 70%;
  margin: auto;
}
.display-difficulty-selector .difficulty-selector div ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.display-difficulty-selector .difficulty-selector div ul li {
  font-size: 1em;
  font-weight: 600;
  margin: 1em 0;
  color: #240116;
  list-style: none;
  width: 5em;
  height: 1em;
  padding: 1.2em;
  text-align: center;
  background-color: bisque;
  border-radius: 2em;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.display-difficulty-selector .difficulty-selector div ul li:hover {
  width: 6.5em;
}

.class-selector-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.class-selector-component .class-selector {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  height: 100vh;
  overflow: scroll;
}
.class-selector-component .class-selector .selector-header {
  border-bottom: 1px solid rgba(2, 29, 1, 0.859);
}
.class-selector-component .class-selector .selector-header h1 {
  color: #0c6549;
  font-size: 2.7em;
  font-weight: 600;
}
.class-selector-component .class-selector .class-selection-grid {
  margin-bottom: 2em;
}
.class-selector-component .class-selector .class-selection-grid ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}
.class-selector-component .class-selector .class-selection-grid ul li {
  list-style: none;
  text-decoration: none;
  color: rgba(2, 29, 1, 0.859);
  padding: 0.5em 0em;
  margin: 0.5em 0.5em;
  border: 2px solid rgba(2, 29, 1, 0.859);
  border-radius: 0.4em;
  font-size: 1em;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.class-selector-component .class-selector .class-selection-grid ul li:hover {
  background: #b0d2be;
  color: rgba(2, 29, 1, 0.859);
}
.class-selector-component .class-selector .class-selection-grid ul li:active {
  transform: translateY(2px);
}
.class-selector-component .class-selector .class-selection-grid ul .active {
  background: rgba(193, 199, 152, 0.859);
  color: #222222;
}

.index-page .index-page-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.progress-chart-display {
  width: 90%;
  height: 13em;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(59, 59, 59, 0.2235294118);
  padding: 20px 10px;
  margin: 1em;
  -webkit-user-select: none;
}
.progress-chart-display .chart-display-box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.progress-chart-display .chart-display-box .display-box-header {
  padding: 0 0.3em;
  margin: 0.5em;
}
.progress-chart-display .chart-display-box .display-box-header h2 {
  font-size: 20px;
  font-style: 200;
  color: #013112;
  margin: 0.1em 0;
}
.progress-chart-display .chart-display-box .display-box-window {
  width: 95%;
  height: 10em;
  margin: 0.5em auto;
  padding: 0 0.8em;
  border-radius: 9px;
}
.progress-chart-display .chart-display-box .display-box-window h2 {
  font-size: 14px;
  font-weight: 200;
}/*# sourceMappingURL=index.css.map */