html{
    body{
        background-image: linear-gradient(to bottom, #100382 2%, #120770 20%, #0a0249 80%);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 86px;
        padding: 0 0.8em;
        // height: 100%;
        // width: 100%;

        // font-family: 'Roboto', sans-serif;
    }
}