html{
    body{
        background-image: linear-gradient(to bottom, #03ca4f 2%, #058937 20%, #025c24 80%);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.components{
    height: 98vh;
    margin: auto;
}